gtk-4.0/
nwg-look/
user-dirs.dirs
BraveSoftware/
obs-studio/
user-dirs.locale
dconf/
kde.org/
pavucontrol.ini
vlc/
dolphinrc
pulse/
qt5ct/
gh/
mimeapps.list
xsettingsd/
github-copilot/
nautilus/
session/
yay/
go/
spotify/
gtk-3.0/
